:root{
    --primaryColor:#f1f1f1;
    --black:#222;
    --black2:#555;
    --black3:#252525;
    --black4:#000;
    --black5:#212529;
    --orange:#eb0028;
    --white:#fff;
    --grey:#959595;
    --grey2:#666;
    --grey3:#ccc;
    --secondary:#2b1f4d;
    --yello:#ffcc00;
    --green:#59b210;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body,input{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Archivo',sans-serif;
    color: var(--black);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
h3,h4{
    font-weight: 500;
}
.header{
    position: relative;
}
.container{
    width:100;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}
.navigation{
    position: relative;
    height: 7rem;
    box-shadow: 0 .5rem 1.5rem rgbs(0,0,0,.1);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width:100%;
    padding: 0 1rem ;
}
.nav_logo a{
font-size: 2.5rem;
color:var(--black);
padding:1.6rem;
font-weight: 700;
}
.nav_hamburger{
    display: none;
    cursor: pointer;
}
.menu_top{
    display: none;
}
.nav_menu{
    width: 50%;
}
.nav_list{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}
.nav_item:not(:last-child){
    margin-right: 1.6rem;
}
.nav_list .nav_link:link,
.nav_list .nav_link:visited{
    display: inline-block;
    font-size:1.4rem;
    text-transform: uppercase;
    color:var(--black);
    transition : color .3s ease-in-out;
}
.nav_list .nav_link:link:hover{
    color:var(--orange);
}
.nav_icons {
    display: flex;
    position: relative;
}
.icon_item{
    padding: 10px;
    transition: all .5s ease-in-out;
    /* border-radius: 50%;  */
    /* border: 1px solid var(--black); */
}
.nav_icons .icon_item:link,
.nav_icons .icon_item:visited{
    color:var(--black)
}
.nav_icons .icon_item:hover{
    background-color: var(--orange);
    border: 1px solid var(--black);
}
.nav_icons .icon_item:not(:last-child){
    margin-right: 1rem;
}
.nav_icons #cart_total{
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -1px;
    background-color: var(--orange);
    padding: 4px 4px;
    border-radius: 100%;
    color: var(--primaryColor);
}
@media only screen and (max-width:768px){
  .nav_menu{
      position: fixed;
      top: 0;
      left: -30rem;
      width: 0;
      background-color: var(--white);
      z-index: 9990;
      height: 100%;
      transition: all .3 ease-in-out;
  }
  .nav_menu.open{
      left:0rem;
      width: 30rem;
  }
  .nav_logo{
      width:50%;
  }
  .nav_hamburger{
      display: block;
  }
  .menu_top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--orange);
      padding: 1.2rem .9rem;
  }
  .menu_top img{
      height: 1.6rem;
      width: 1.6rem;
      fill: var(--primaryColor);
  }
  .nav_category{
      color: var(--white);
      font-size: 2.3rem;
      font-weight: 700;
  }
  .nav_list{
      flex-direction: column;
      align-items: flex-start;
      padding: 1.2rem 1rem;

  }
  .nav_list:not(:last-child){
      margin-right:0;
  }
  .nav_item{
      width: 100%;
  }
  .nav_list .nav_link:link,
  .nav_list .nav_link:visited{
      padding: 1.2rem 0;
      width: 100%;
      color: var(--grey2);
  }
  body.active::before{
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:var(--black) none no-repeat 0 0 ;
      opacity: .7;
     z-index: 999;
     transition: .8%;
  }
}
.hero,.hero .glide_slides{
    background-color: var(--primaryColor);
    position: relative;
    width: 100%;
    height: 100%;
}

.hero .glide__bullet{
    background-color: var(--black);
    width: 1.2rem;
    height: 1.2rem;
}
.hero .glide__arrow{
    border-radius: 50%;
    padding: 1.2rem 1.5rem;
    opacity: 0;
    border: none;
    background-color: var(--grey);
    transition: all .5s ease-in-out .2s;

}
.glide__arrow:hover{
    background-color: var(--black3);
}
.glide__arrow--left{
    left:20rem;
}
.glide__arrow--right{
    position: absolute;
    right: 20rem;
}
.hero:hover .glide__arrow{
    opacity: 1;
}
.hero:hover .glide__arrow--left{
    left:23rem;
}
.hero:hover .glide__arrow--right{
    right:23rem;
}
.hero_center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding-top: 3rem;
}
.hero_left{
padding:3rem ;
flex: 0 0 50%;
}
.hero_btn{
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--primaryColor);
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 4rem;
    border:1px solid var(--black);
    transition: all 0.3 ease-in-out ;

}
.hero_btn:focus{
    outline: none;
}
.hero_left .hero_btn:hover{
  font-weight: 700;
  background-color: transparent;
  color: var(--black);
}
.hero_left h1{
    margin: 1rem 0;
}
.hero_left p{
    margin-bottom: 1rem;
}
.hero_right{
    flex:0 0 50%;
    position: text;
    text-align: center;
}
.hero_right img.banner_02,img.banner_01{
    width: 80%;
}

     /* media Quary */
@media only screen and (max-width:990px){
     .hero_center{
         flex-direction: column;
         text-align: center;
     }
     .hero_right img.banner_02,img.banner_01{
        width: 55%;
    }
    /* /* .hero_right{
        top: 50%;
        position: relative;
    }
    .hero_left{
        position: absolute;
        padding: 0 1rem;
        top: 20%;
    }  */
    .hero_btn{
        padding:1.1rem 2.8rem ;
    }
    .hero .glide__arrow{
        display: none;
    }
}


/* Collection area */
.section{
    padding: 3rem 0;

}
.collection{
    margin: 3rem 0;
}
.collection_container{
    width: 100%;
    padding: 0 1.6rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.collection_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    flex: 0 0 48%;
    height:30rem;
    background-color: var(--primaryColor);
}

.collection_box:not(:last-child){
    margin-right:1.6rem ;
}
.img_container{
    width: 40rem;
    /* height: 20rem; */
    text-align: center;
}
.collection_box img.collection_01{
    width: 75%;
}
.collection_box img.collection_02{
    width: 60%;
}
.collection_content{
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collection_content span{
    color: var(--black);
}
.collection_content h1{
    margin-top: 0.5rem;
}
.collection_content a:link,
.collection_content a:visited{
    font-weight: 700;
    display: inline-block;
    padding: 1rem 1.4rem ;
    margin-top: 1.3rem;
    border-radius: 3rem;
    color: var(--primaryColor);
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    transition: all .3s ease-in-out;

}
.collection_content a:hover{
    background-color: transparent;
    color: var(--secondary);
}

@media only screen and (max-width:999px){
   .collection_container{
       width: 80%;
       margin: 0 auto;
       flex-direction: column;
       height:65rem;
   }
   .collection_box{
       width: 100%;
       margin: 0 auto;
   }
   .collection_box:not(:last-child){
       margin: 0 0 1.6rem;
   }
}

@media only screen and (max-width:568px){
    .collection{
        margin: 0;
        position: relative;
    }
    .collection_container{
        width: 100%;
        height: 50rem;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .collection_box{
        justify-content: space-around;
        height: 15rem;
    }
 /* .collection_content{
    flex: 0 0 30%;
} */
.collection_data span{
    font-size: 1.2rem;
               }
.collection_data h1{
    font-size: 2rem;
          } 
}


/* Latest Product */
.title__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6rem;
    padding: 2rem 0;
    background-color: var(--primaryColor);
    
}
.section__title:not(:last-child){
    margin-right: 1.5rem ;
}
.section__title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.section__title h1{
    font-size: 1.9rem;
    font-weight: inherit;
}
.section__title:hover .primary_title
.section__title:hover span.dot,
.section__title:hover span.dot::before
{
  opacity: .9;
}
.section__title .primary_title{
    opacity: .6;
    padding-left: .5rem;
    transition: opacity 0.3s ease-in-out;

}
.section__titles:not(:last-child){
    margin-right: 1.5rem;
}
span.dot{
    opacity: .6;
    padding: .45rem;
    position: relative;
    border: 1px solid var(--black);
    cursor: pointer;
    transition: opacity .3 ease-in-out;
}
span.dot::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--black);
    background-color: var(--black);
    margin: 1px;
    opacity: .2;
}
.section__title.active span.dot{
    opacity: 1;
}
.section__title.active span.dot::before{
    opacity: 1;
}
.section_title.active .primary_title{
    opacity: 1;
}
  
.product{
    position: relative;
    text-align: center;
}
.product ul{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    width: 17rem;
    height: 5rem;
    background-color: rgba(255,255,255,0.5);
    /* opacity: 0; */
    visibility: hidden;
    transform: translate(-50%,-50%)scale(.7);
    transition: all .5s ease-in-out;
}
.product:hover ul{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%)scale(1);
}
.product ul li:not(:last-child){
    margin-right: 1.6rem;
}
.product ul a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: .5s;
}
.product ul a:hover{
    background-color: var(--black);
}
.product ul a::before{
    content: "";
    position: absolute;
    top: -.6rem;
    left: -.6rem;
    height: 0;
    width: 0;
    border-top: 3px solid var(--orange) ;
    border-left: 3px solid var(--orange);
    transition: .5s;
    /* opacity: 0; */
    z-index: 1 ;
}
.product ul a::after{
    content: "";
    position: absolute;
    bottom: -.6rem;
    right: -.6rem;
    width: 0;
    height: 0;
    border-bottom: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
    z-index: 1;
    transition: .5s;

}
.product ul a:hover::before{
    width: 126%;
    height: 126%;
    border-top: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    opacity: 1;
}
.product ul a:hover::after{
    width: 126%;
    height: 126%;
    border-top: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
    opacity: 1;
}
@media only screen and (max-width:568px){
    .title__container{
        flex-direction: column;

    }
    .section__titles:not(:last-child){
        margin: 0 0 1.3rem;
    }
    .rating img{
        width: 20px;
    }
    /* .product_header{
        height: 20rem;
    } */
    /* .product_header img{
        width:70%;
     
    } */
    .product_footer h3{
        font-size: 1.4rem;
    }
    .product_btn{
        width: 100%;
        font-size: 1.1rem;
        margin-top: 5px;
        padding: .8rem 0;
        border: 1px solid var(--black);
    }
    .product ul a{
        width: 2.7rem;
        height: 2.7rem;
    }
    .product ul{
        top: 25%;
        left: 50%;
        width: 16rem;
        height: 4rem;
    }
}
.product{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25rem;
}
.product_header{
    height: 25rem;
    padding: .5rem 0;
    text-align: center;
}
.product_header img{
    max-width: 100%;
    max-height: 100%;
}
.product_footer{
    padding: 1rem 0;
}
.product_footer .product_price{
    padding-bottom: 1rem ;
}
.product_footer h3{
    padding: 1rem 0;
}
.product_btn{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1.4rem 0;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
}
.product_btn:focus{
    outline: none;
}
.product_btn:hover{
    background-color: var(--black);
    color: var(--primaryColor);
    
}
/* .latest__products .glide__arrow{
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    outline: none;
    border-radius: 0;
    box-shadow: 0 .25em .5em rgba(0,0,0,0) ;
    top: -7%;
    left: 80%;

} */
/* .latest__products .glide__arrow:hover,
.related__products .glide__arrow:hover{
background-color: var(--orange);
border: 1px solid var(--primaryColor);
}
.latest__products .glide__arrow--left,
.related__products .glide__arrow--left{
    left: 75%;
}
.latest__products .glide__arrow--right,
.related__products .glide__arrow--right{
    right: 5%;
} */
@media only screen and (max-width:999px) {
    .product_header{
        height: 25rem;
    }
    .product{
        width: 70%;
        margin: 0 auto;
    }
}
@media only screen and (max-width:768px) {

}

                   /* Category area*/
           
    .category__center{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem 2rem;
        
    }   
    .category__center .rating{
 display: none;
    }            

@media only screen and (max-width: 999px) {
    .category__center{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .rating img{
        width: 15px;
    }
}
@media only screen and (max-width: 790px) {
    .category__center{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .rating img{
        width: 15px;
    }
}
@media only screen and (max-width: 568px) {
    .category__center{
        grid-template-columns: 1fr 1fr;
    }
    .category__products .product_header{
        height: 10rem;
    }
    .category__products .product_heade img{
        object-fit: contain;
    }
}